<%= render "layouts/adnav" %>
<div class="main mt-4">
  <div class="row">
    <div class="col">
      <h1><b>Item List</b></h1>
    </div>
    <div class="col">
      <%= form_tag({ url: admin_items_path }, { method: :get }) do %>
        <div class="d-flex justify-content-end">
          <%= text_field_tag :search %>
          <%= submit_tag :search, class: "btn btn-success" %> &nbsp;
          <%= link_to "Create New", new_admin_item_path, class: "btn btn-warning btn-lg px-5 form-control" %>
        </div>
      <% end %>
    </div>
  </div>
  <table class="table table-bordered table-dark table-hover text-center" style="font-size: 15px">
    <thead>
    <tr>
      <th scope="col">Image</th>
      <th scope="col">Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Minimum Bets</th>
      <th scope="col">State</th>
      <th scope="col">Batch count</th>
      <th scope="col">Online at</th>
      <th scope="col">Offline at</th>
      <th scope="col">Start at</th>
      <th scope="col">Status</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <% unless @items.present? %>
      <tr class="table-success ">
        <td colspan="11"><p> No record found.</p></td>
      </tr>
    <% else %>
      <% @items&.each do |item| %>
        <tr class="table-success ">
          <td><%= image_tag item.image.url, style: "width: 100px;" %></td>
          <td><%= item.name %></td>
          <td><%= item.quantity %></td>
          <td><%= item.minimum_bets %></td>
          <td><%= item.state %></td>
          <td><%= item.batch_count %></td>
          <td><%= item.online_at %></td>
          <td><%= item.offline_at %></td>
          <td><%= item.start_at %></td>
          <td><%= item.status %></td>
          <td>
            <%= link_to "Edit", edit_admin_item_path(item), class: "btn btn-primary btn-lg px-5 form-control" %>
            <%= form_for item, url: admin_item_path(item), method: :delete do |f| %>
              <%= f.submit 'Delete', class: "btn btn-danger btn-lg px-5 form-control mt-2" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
</div>