<%= render "layouts/adnav" %>
<div class="main mt-4">
  <div class="container">
    <h1><b>Balance Operate</b></h1>
    <%= render "shared/flash_error" %>
    <div class="card shadow bg-light border-light mt-3">
      <div class="card-body">
        <div class="row">
          <div class="col-6">
            <div class="card shadow-sm border-light mt-3">
              <div class="card-header" style="background-color:lightslategray">
                <ul class="nav nav-tabs card-header-tabs">
                  <li class="nav-item">
                    <%= link_to "Increase", new_admin_user_increase_path, class: "nav-link active" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "Deduct", new_admin_user_deduct_path, class: "nav-link text-decoration-none text-light" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "Bonus", new_admin_user_bonuse_path, class: "nav-link text-decoration-none text-light" %>
                  </li>
                </ul>
              </div>
              <%= form_for @order, url: admin_user_increases_path, method: :post do |f| %>
                <%= render "admin/shared_form/operate", f: f %>
              <% end %>
            </div>
          </div>
          <%= render "admin/shared_form/display_info" %>
        </div>
      </div>
    </div>
  </div>
</div>