<div class="row">
  <div class="col">
    <div class="form-outline mb-4 text-center">
      <%= f.text_field :name, class: "form-control shadow-sm", placeholder: "Full name", autofocus: true, autocomplete: "username" %>
    </div>
  </div>
  <div class="col">
    <div class="form-outline mb-4 text-center">
      <%= f.text_field :phone_number, class: "form-control shadow-sm", placeholder: "Phone Number", autofocus: true, autocomplete: "phone" %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="form-outline mb-4 text-center">
      <%= f.text_field :street_address, class: "form-control shadow-sm", placeholder: "Street Address", autofocus: true, autocomplete: "phone" %>
    </div>
  </div>
  <div class="col">
    <div class="form-outline mb-4 text-center">
      <%= f.select(:genre, Address.genres.keys.map { |key| [key.humanize, key] }, { include_blank: "Genre" }, { class: "form-control shadow-sm" }) %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="form-outline mb-4 text-center">
      <%= f.collection_select :region_id, Region.order(:id), :id, :name, { include_blank: "Please Select Region" }, { class: "form-control shadow-sm" } %>
    </div>
  </div>
  <div class="col">
    <div class="form-outline mb-4 text-center">
      <%= f.collection_select :province_id, Province.order(:id), :id, :name, { include_blank: "Please Select Province" }, { class: "form-control shadow-sm" } %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="form-outline mb-4 text-center">
      <%= f.collection_select :city_id, City.order(:id), :id, :name, { include_blank: "Please Select city" }, { class: "form-control shadow-sm" } %>
    </div>
  </div>
  <div class="col">
    <div class="form-outline mb-4 text-center">
      <%= f.collection_select :barangay_id, Barangay.where('id<=?', 10).order(:id), :id, :name, { include_blank: "Please Select Barangay" }, { class: "form-control shadow-sm" } %>
    </div>
  </div>
</div>
<%= f.text_area :remark, class: "form-control shadow-sm", :cols => 30, :rows => 2 %>