<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-light border-light shadow">
          <div class="card-body p-5 text-center">
            <div class="mb-md-3 mt-md-4 pb-1">
              <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
                <li class="nav-item" role="presentation">
                  <h2 class="fw-bold mb-3 text-uppercase text-center" style="color:black;">LOGIN</h2>
                </li>
                <li class="nav-item" role="presentation">
                  <%= link_to "Register", new_user_registration_path, class: "btn btn-warning px-5" %>
                </li>
              </ul>
              <%= render "shared/flash_error" %>
              <%= form_for(resource, as: resource_name, url: user_session_path) do |f| %>
                <div class="form-outline form-white mb-4">
                  <%= f.email_field :email, class: "form-control shadow-sm", autofocus: true, autocomplete: "email" %>
                  <%= f.label :email, class: "form-label mt-2" %><br/>
                </div>
                <div class="form-outline form-white mb-2">
                  <%= f.password_field :password, class: "form-control shadow-sm", autocomplete: "current-password" %>
                  <%= f.label :password, class: "form-label mt-2" %><br/>
                </div>
                <% if devise_mapping.rememberable? %>
                  <div class="field mb-4">
                    <%= f.check_box :remember_me %>
                    <%= f.label :remember_me %>
                  </div>
                <% end %>
                <div class="pt-1">
                  <%= f.submit "Login", class: "btn btn-success px-5" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render "users/shared/nav" %>