<nav class="navbar navbar-dark bg-dark justify-content-md-end fixed-top">
  <div class="container-fluid">
    <%= link_to root_path, class: 'navbar-brand text-light' do %>
      <img alt="logo" src="/gelgo.png" style=" height:50px">
    <% end %>
    <ul class="nav ms-auto">
      <% unless user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link text-white" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign Up", new_user_registration_path, class: "nav-link text-white" %>
        </li>
      <% else %>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Coins</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Claim</a>
        </li>
      <% end %>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Language</a>
      </li>
    </ul>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title">Menu</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <% unless user_signed_in? %>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Info</a>
            </li>
          <% else %>
            <%= image_tag current_user.image.url, class: "rounded-circle shadow-4", style: "width: 90px;" if current_user.image? %>
            <h4 style="color:Orange;"><b><%= current_user.username %></b></h4>
            <p>Email: <%= current_user.email %></p>
            <p>Coins: <%= current_user.coins %></p>
            </ul>
            <div>
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="btn btn-outline-light btn-lg px-5 form-control" href="#">Cash in Now</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Contact Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">My Profile</a>
                </li>
                <li class="nav-item">
                  <%= link_to "Sign out", destroy_user_session_path, class: "nav-link", :method => :delete %>
                </li>
          <% end %>
          </ul>
          </div>
          </div>
    </div>
  </div>
</nav>
<nav class="navbar navbar-dark bg-dark justify-content-center fixed-bottom mt-5">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" style="color: darkorange" href="#">Share</a>
    </li>
    <li class="nav-item">
      <%= link_to "Invite", users_invite_people_path, class: "nav-link", style: "color: darkorange" %>
    </li>
    <li class="nav-item">
      <%= link_to "Lottery", users_lotteries_path, class: "nav-link", style: "color: darkorange" %>
    </li>
    <li class="nav-item">
      <%= link_to "Shop", users_offers_path, class: "nav-link", style: "color: darkorange" %>
    </li>
    <li class="nav-item">
      <%= link_to "Me", users_profile_path, class: "nav-link", style: "color: darkorange" if user_signed_in? %>
    </li>
  </ul>
</nav>
