<%= render "layouts/adnav" %>
<div class="main mt-4">
  <div class="container">
    <h1><b>Create Category</b></h1>
    <%= render "shared/error", resource: @category %>
    <div class="card w-100 mt-3 shadow border-light">
      <div class="card-body bg-light">
        <%= form_for @category, url: admin_categories_path, method: :post do |f| %>
          <div class="row mt-3">
            <div class="col">
              <div class="form-outline mb-4">
                <%= f.text_field :name, class: "form-control shadow-sm", placeholder: "Name" %>
              </div>
            </div>
            <div class="pt-1 text-center">
              <%= link_to 'Back', admin_categories_path, class: "btn btn-warning px-5 mx-3 shadow-sm" %>
              <%= f.submit "Create", data: { confirm: 'Are you sure you want to create?' }, class: "btn btn-success px-5 mx-3 shadow-sm" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>