<%= render "layouts/adnav" %>
<div class="main mt-4">
  <h1><b>Create Category</b></h1>
  <div class="card w-100 mt-1 ">
    <div class="card-body bg-secondary">
      <div class="container">
        <% if @category.errors.any? %>
          <% @category.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        <% end %>
        <%= form_for @category, url: admin_categories_path, method: :post do |f| %>
          <div class="row mt-3">
            <div class="col">
              <div class="form-outline mb-4">
                <%= f.text_field :name, class: "form-control", placeholder: "Name" %>
              </div>
            </div>
            <div class="pt-1 text-center">
              <%= link_to 'Back', admin_categories_path, class: "btn btn-warning btn-lg px-5" %>
              <%= f.submit "Create", class: "btn btn-warning btn-lg px-5" %>
            </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>