<%= render "layouts/adnav" %>
<div class="main mt-4">
  <%= render "shared/flash_error" %>
  <div class="card shadow rounded">
    <%= form_tag({ url: admin_bets_path }, { method: :get }) do %>
      <div class="card-header shadow-sm rounded">
        <div class="row">
          <div class="col-8 ">
            <h1 class="mt-1"><b>Bet List</b></h1>
          </div>
          <div class="col-2 ">
            <%= link_to "Reset", admin_bets_path, class: "btn btn-warning col-12 mt-2 shadow-sm rounded" %>
          </div>
          <div class="col-2 ">
            <%= submit_tag :Search, class: "btn btn-success col-12 mt-2 shadow-sm rounded" %>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-3 ">
            <%= text_field_tag :serial_number, params[:serial_number], placeholder: "Serial Number", class: "form-control shadow-sm rounded" %>
          </div>
          <div class="col-3">
            <%= text_field_tag :product_name, params[:product_name], placeholder: "Product Name", class: "form-control shadow-sm rounded" %>
          </div>
          <div class="col-3">
            <%= text_field_tag :email, params[:email], placeholder: "Email", class: "form-control shadow-sm rounded" %>
          </div>
          <div class="col-3">
            <%= select_tag :state, options_for_select(Bet.aasm.states.map(&:name), params[:state]), { prompt: 'State', class: "form-control form-select shadow-sm rounded" } %>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-6">
            <div class="input-group">
              <span class="input-group-text shadow-sm">Start Date</span>
              <%= datetime_field_tag :start, params[:start], class: "form-control shadow-sm" %>
            </div>
          </div>
          <div class="col-6">
            <div class="input-group">
              <span class="input-group-text shadow-sm">End Date</span>
              <%= datetime_field_tag :end, params[:end], class: "form-control shadow-sm" %>
            </div>
          </div>
        </div>
    <% end %>
    </div>
  </div>
  <table class="table table-bordered table-dark table-hover text-center mt-2 shadow-sm rounded" style="font-size: 15px">
    <thead>
    <tr style="vertical-align: middle">
      <th scope="col">Product Name</th>
      <th scope="col">Email</th>
      <th scope="col">State</th>
      <th scope="col">Serial Number</th>
      <th scope="col">Created At</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <% if @bets.blank? %>
      <tr class="table-success" style="vertical-align: middle">
        <td colspan="5"><p> No record found.</p></td>
      </tr>
    <% end %>
    <% @bets.each do |bet| %>
      <tr class="table-success" style="vertical-align: middle">
        <td><%= bet.item.name %></td>
        <td><%= bet.user.email %></td>
        <td><%= bet.state %></td>
        <td><%= bet.serial_number %></td>
        <td><%= bet.created_at %></td>
        <td>
          <%if bet.betting? %>
          <%= link_to "Cancel", admin_bet_cancel_path(bet), data: { confirm:'Are you sure you want to cancel?'},class: "btn btn-danger col-12 shadow-sm rounded", method: :put  %>
        <%else %>
            <%= button_tag "Cancel", disabled: "disabled" ,class: "btn btn-secondary col-12 shadow-sm rounded"%>
        <%end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
