<%= render "layouts/adnav" %>
<div class="main mt-4">
  <div class="row">
    <div class="col">
      <h1><b>Users List</b></h1>
    </div>
    <div class="col">
      <%= form_tag({ url: admin_users_path }, { method: :get }) do %>
        <div class="d-flex justify-content-end">
          <%= text_field_tag :email %>
          <%= submit_tag :Search, class: "btn btn-primary px-4" %>
        </div>
      <% end %>
    </div>
  </div>
  <table class="table table-bordered table-dark table-hover text-center shadow rounded" style="font-size: 15px">
    <thead>
    <tr style="vertical-align: middle">
      <th scope="col">Email</th>
      <th scope="col">Parent Email</th>
      <th scope="col">Children Members</th>
      <th scope="col">Phone Number</th>
      <th scope="col">Coins</th>
      <th scope="col">Total Used Coins</th>
      <th scope="col">Total Deposit</th>
      <th scope="col">Member Total Deposits</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <% if @users.blank? %>
      <tr class="table-light" style="vertical-align: middle">
        <td colspan="8"><p> No record found.</p></td>
      </tr>
    <% end %>
      <% @users.each do |user| %>
        <tr class="table-light" style="vertical-align: middle">
          <td><%= user.email %></td>
          <td><%= user.parent&.email %></td>
          <td><%= user.children_members %></td>
          <td><%= user.phone %></td>
          <td><%= user.coins %></td>
          <td><%= user.total_used_coins %></td>
          <td><%= user.total_deposit %></td>
          <td><%= user.member_total_deposits %></td>
          <td><%= link_to "Balance", new_admin_user_increase_path(user), class: "btn btn-warning btn-sm shadow-sm rounded", style:"font: 10px"%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>