<%= render "users/shared/nav" %>
<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-secondary text-white">
          <div class="card-body p-5 text-center">
            <div class="mb-md-3 mt-md-4 pb-1">
              <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
                <li class="nav-item" role="presentation">
                  <%= link_to "Login", new_session_path(resource_name), class: "nav-link  text-white" %>
                </li>
                <li class="nav-item" role="presentation">
                  <%= link_to "Register", new_user_registration_path, class: "nav-link active text-dark", style: "background-color:darkorange" %>
                </li>
              </ul>
              <%= form_for(resource, as: resource_name, url: user_registration_path) do |f| %>
                <%= render "users/shared/error_messages", resource: resource %>

                <% if cookies[:promoter] %>
                  <div class="form-outline mb-4">
                    <%= f.email_field :parent, class: "form-control form-control-lg mb-3", autofocus: true, autocomplete: "email", value: cookies[:promoter], readonly: true %>
                    <%= f.label :promoter %>
                  </div>
                <% end %>

                <div class="form-outline mb-4">
                  <%= f.email_field :email, class: "form-control form-control-lg mb-3", autofocus: true, autocomplete: "email" %>
                  <%= f.label :email, class: "form-label" %>
                </div>

                <div class="form-outline mb-4">
                  <%= f.password_field :password, class: "form-control form-control-lg mb-3", autocomplete: "new-password" %>
                  <%= f.label :password, class: "form-label" %>
                  <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %>
                </div>

                <div class="form-outline mb-4">
                  <%= f.password_field :password_confirmation, class: "form-control form-control-lg mb-3", autocomplete: "new-password" %>
                  <%= f.label :password_confirmation, class: "form-label" %>
                </div>

                <div class="pt-1 mb-4">
                  <%= f.submit "Sign up", class: "btn btn-outline-light btn-lg px-5" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>